<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vsoftcoders.sum">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.vsoftcoders.sum.util.VsoftApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
       tools:replace="icon"
        android:theme="@style/AppTheme">
        <activity android:name="com.vsoftcoders.sum.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity android:name="com.vsoftcoders.sum.activity.GameMenuActivity"></activity>
        <activity android:name="com.vsoftcoders.sum.activity.GamePlayActivity"></activity>
        <activity android:name="com.vsoftcoders.sum.activity.HelpActivity"></activity>
        <activity android:name="com.vsoftcoders.sum.activity.AboutActivity"></activity>
        <activity android:name="com.vsoftcoders.sum.activity.GameOverActivity"></activity>
        <activity android:name="com.vsoftcoders.sum.activity.TopScorersActivity"></activity>
    </application>

</manifest>